*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin: 0;
    padding: 0;

}

.header{
    background-color: #141E46;
    color: #f9faf8;
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;

}

.header-content{
    display: flex;
    width: 80%;
    justify-content: center;
}


.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex: 50%;
    justify-content: flex-start;
}

.links{
    display: flex;
    flex: 50%;
    justify-content: flex-end;
}

.link{
    display: flex;
    flex: 33%;
    justify-content: center;
    margin: auto;
}

.hero{ 
    display: flex;
    flex: 100%;
    justify-content: center;
    background-color: #141e46;
    padding: 10px;
    height: 400px;
    width: 100%;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    color: #f9faf8;
    width: 50%;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 700;  
}

.hero-sub-text{
    font-size: 24px;
}

img{
    width: 400px;
    height: auto;
    justify-content: flex-end;
}

.white{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 400px;
    width: 100%;
}

.gray{
    display: flex;
    justify-content: center;
    background-color: #fff5e0;
    padding: 10px;
    height: 400px;
    width: 100%;
}

.white-bot{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 400px;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #141E46;
    padding: 10px;
    height: 50px;
    width: 100%;
}