*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin: 0;
    padding: 0;

}

.header{
    background-color: #141E46;
    color: #f9faf8;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;

}

.header-content{
    display: flex;
    width: 850px;
    justify-content: center;
    align-self: center;
}


.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex: 100%;
    justify-content: flex-start;
    align-self: center;
}

.links{
    display: flex;
    flex: 100%;
    justify-content: right;
    align-self: center;
}

.link{
    display: flex;
    flex: 33%;
    justify-content: center;
    margin: auto;
    align-self: center;
}

.hero{ 
    display: flex;
    flex: 100%;
    justify-content: center;
    align-self: center;
    background-color: #141e46;
    height: 500px;
    width: 100%;
}

.hero-content{
    display: flex;
    align-self: center;
    height: 400px;
    width: 850px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #f9faf8;
    width: 50%;
    gap: 10px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 700;  
}

.hero-sub-text{
    font-size: 24px;
}
.hero-button{
  background-color: #3882f6;
  display: flex; 
  flex: 100%;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px;
  justify-content: center;
  font-size: 16px;
  width: 25%;
}


.hero-img{
    display: flex;
    width: 50%;
    justify-content: right;
}

img{
    height: 400px;
    width: auto; 
    border-radius: 30px;   
}


.white{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 500px;
    width: 100%;
}

.white-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 850px;
    gap: 8px;
}

.white-info{
    font-size: 36px;
    color: #141E46;
    font-weight: bold;
    justify-content: center;
    align-self: center;
}

.white-images{
    display: flex;
    align-self: center;
    width: 100%;
    height: 300px;
    justify-content: center;
    gap: 10px;
}

.white-image-one{
    display: flex;
    flex: 25%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-self: center;
}

.hardpourcorn{
    width: 200px;
    height: auto;
}

.hardpourtext{
    height: 20px;
    align-self: center;
    text-align: center;
}



.gray{
    display: flex;
    justify-content: center;
    background-color: #fff5e0;
    padding: 10px;
    height: 500px;
    width: 100%;
}

.white-bot{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 500px;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #141E46;
    padding: 10px;
    height: 50px;
    width: 100%;
}