*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin: 0;
    padding: 0;

}

.header{
    background-color: #141E46;
    color: #f9faf8;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
}

.header-content{
    display: flex;
    width: 80%;
    justify-content: center;
    align-self: center;
}


.logo{
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.facebox{
    display: flex;
    justify-content: center;
}

.face{
    width: 50px;
    height: auto;
}


.links{
    display: flex;
    gap: 10px;
    width: 50%;
    justify-content: right;
    align-self: center;
}

.link{
    display: flex;
    margin: 10px;
}

.link:hover{
    background-color: #fff5e0;
}

.hero{ 
    display: flex;
    justify-content: center;
    background-color: #141e46;
    height: 500px;
}

.hero-content{
    display: flex;
    width: 80%;
    gap: 100px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #f9faf8;
    width: 50%;
    gap: 15px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 700;  
}

.hero-sub-text{
    font-size: 24px;
}

.hero-button{
  background-color: #3882f6;
  display: flex; 
  flex: 100%;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px;
  justify-content: center;
  font-size: 16px;
  width: 25%;
  cursor: pointer;
}

.hero-right{
    display: flex;
    flex: 50%;
    justify-content: right;
    align-self: center;
}

.hero-img{
    display: flex;
    justify-content: right;
}

.cam{
    display: flex;
    flex: 1 1 50%;   
}

img{
    border-radius: 30px;   
}


.white{
    display: flex;
    background-color: #FF6969;
    background-image: linear-gradient(47deg, #FF6969 20%, #BB2525 100%);
    justify-content: center;
    padding: 10px;
    height: 500px;
    width: 100%;
}

.white-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 70%;
    gap: 8px;
}

.white-info{
    font-size: 36px;
    color: #141E46;
    font-weight: bold;
    justify-content: center;
    align-self: center;
}

.white-images{
    display: flex;
    align-self: center;
    width: 100%;
    height: 300px;
    justify-content: center;
    gap: 10px;
}

.white-image-one{
    display: flex;
    flex: 25%;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.hardpourcorn{
    width: 200px;
    height: auto;
    align-self: center;
    border: solid;
    border-color: #141E46;
}

.hardpourtext{
    height: 20px;
    color: #141E46;
    align-self: center;
    text-align: center;
}



.gray{
    display: flex;
    justify-content: center;
    background-color: #fff5e0;
    padding: 10px;
    height: 500px;
    width: 100%;
}

.graybox{
    display: flex;
    width: 400px;
    height: 400px;
    align-self: center;
}

.quotebox{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.name{
    display: flex;
    justify-content: right;
}

.white-bot{
    display: flex;
    background-color: #FF6969;
    justify-content: center;
    padding: 10px;
    height: 500px;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #141E46;
    padding: 10px;
    height: 50px;
    width: 100%;
}